* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-dc {
    background-color: $blue;
    color: $white;
    font-size: 20px;
    text-transform: uppercase;
}

.btn-dc:hover {
    background-color: lighten($blue, 15%);
    color: white;
}

.bg-blue {
    background-color: $blue;
    color: $white;
}

.color-blue {
    color: $blue;
}